body {
  background: #3c3c3c;
  height: 100%;
}

main {
  text-align: center;
  padding-top: 150px;
}

.google-logo {
  max-height: 90px;
}

.magnifying-glass-icon {
  position: relative;
  left: 40px;
  color: #757575;
  font-size: 14px;
}

.search-bar {
  padding: 10px 20px 10px 55px;
  border-radius: 30px;
  border: none;
  margin-top: 50px;
  width: 750px;
  color: #757575;
}

.social-icons .icons {
  font-size: 25px;
  background: #7171716f;
  padding: 10px;
  border-radius: 50%;
  margin: 10px 20px;
}

.social-icons .icon {
  padding: 20px 20px 10px;
}

.social-icons .icon:hover {
  background: #535353b4;
  padding: 20px 20px 10px;
  border-radius: 4px;
}

.social-icons a {
  text-decoration: none;
}

.social-icons .fa-square-instagram {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icons .fa-youtube {
  color: #f50033;
}

.social-icons .fa-pinterest {
  color: #e60023;
}

.social-icons .fa-facebook {
  color: #2b66ff;
}

.social-icons .fa-linkedin {
  color: #2466c2;
}

.social-icons p {
  color: #fff;
  font-size: 13px;
  margin-top: 10px;
}

.social-icons .fa-plus {
  background: #004a76;
  color: #fff;
  font-size: 15px;
  padding: 15px;
  border-radius: 50%;
  margin: 10px 20px;
}
