body {
  background: #3c3c3c;
  height: 100%;
}

header {
  text-align: center;
}

.google-logo {
  max-height: 90px;
}

.search-bar {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin-top: 50px;
  width: 750px;
}
